@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="card mt-4 mx-auto" style="max-width: 700px;">
    <h3 class="card-title text-center text-white mt-2 fw-bold">Log in <i class="bi bi-door-open"></i></h3>
    <div class="card-body">
        <div class="fw-bold text-warning" asp-validation-summary="All"></div>
        <form id="account" method="post">

            <div class="mb-3">
                <label class="text-white fw-bold" asp-for="Input.Email"></label>

                <input asp-for="Input.Email" class="form-control" autocomplete="tel" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="fw-bold text-warning"></span>
            </div>
            <div class="mb-3">
                <label class="text-white fw-bold" asp-for="Input.Password"></label>

                <input asp-for="Input.Password" class="form-control" autocomplete="tel" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="fw-bold text-warning"></span>
            </div>

            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-outline-primary btn-lg w-100">Log In </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
