@model UpdateCreateMealViewModel
@{
    var Titel = Model.MealId == 0 ? "Add - New Meal" : $"Update - {Model.Name} Meal";
    Titel += $" For {Model.MenuName} Menu";
    ViewData["Title"] = Titel;
}

<div class="card  border-primary  border-4 mt-4 mx-auto" style="max-width: 700px;">
    <div class="card-header border-primary text-bg-dark  border-3">
        <h3 class="card-title text-center text-white mt-2 fw-bold">@Titel</h3>
    </div>
    <div class="card-body">
        <div class="fw-bold text-warning" asp-validation-summary="All"></div>
        <form method="post" enctype="multipart/form-data">
            <input asp-for="MealId" hidden />
            <input asp-for="ImageUrl" hidden />
            <input asp-for="RestaurantId" hidden /> <!--Bacl link and redirect -->
            <input asp-for="MenuId" hidden /> <!--0 in Create -->
            <input asp-for="MenuName" hidden /> <!--I add it Because if model statae not vailde the name will return -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="text-white fw-bold" asp-for="Name"></label>

                        <input asp-for="Name" class="form-control" autocomplete="name" aria-required="true" placeholder="Meal Name " />
                        <span asp-validation-for="Name" class="fw-bold text-warning"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="text-white fw-bold" asp-for="Description"></label>

                        <input asp-for="Description" class="form-control" autocomplete="tel" aria-required="true" placeholder="Meal Description" />
                        <span asp-validation-for="Description" class="fw-bold text-warning"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="text-white fw-bold" asp-for="Price"></label>

                        <input asp-for="Price" class="form-control" autocomplete="name" aria-required="true" placeholder="Meal Price " />
                        <span asp-validation-for="Price" class="fw-bold text-warning"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="text-white fw-bold" asp-for="Offer"></label>

                        <input asp-for="Offer" class="form-control" autocomplete="tel" aria-required="true" placeholder="Set Offer" />
                        <span asp-validation-for="Offer" class="fw-bold text-warning"></span>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="text-white fw-bold" asp-for="Image">  </label>
                <input asp-for="Image" type="file" class="form-control" autocomplete="tel" aria-required="true"  />
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary btn-lg w-50 m-10">
                    @Titel
                </button>
            </div>

            <div class="d-flex justify-content-end">
                <a asp-controller="Admin" asp-action="Menus" asp-route-Id="@Model.RestaurantId" class="btn btn-outline-warning btn-lg w-25">Back</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}